
	<!--<div class="container">
		
			<div class="row justify-content-start">
			<div class="col-4">-->
				
				<div class="bg"></div>
				<div class="navmenu">
					<a href="#"></a>
				  </div>
				  <div class="homemenu">
					<a href="/courses"></a>
				  </div>
				<div class="nav">
					<div class="thinksummerlogo">
						<a href="#">
							<img alt="Think Summer" src="img/thinksummerlogo.png">
						</a>
					</div>
					<div class="buttons">
						<a class="button fountainRunTealBorder" href="/courses">
							<img alt="Courses" height="80" src="img/courses2.png" width="142">
							<span class="fountainRunTeal">Courses</span>
						</a>
						<a class="button ameliaSkyBlueBorder" href="#">
							<img alt="Registration" src="img/registration.png">
							<span class="ameliaSkyBlue">Registration</span>
						</a>
						<div class="clearfix"></div>
						<a class="button slayterSkyBlueBorder" href="#">
							<img alt="Research" src="img/research.png">
							<span class="slayterSkyBlue">Research</span>
						</a>
						<a class="button celeryBogGreenBorder" href="#">
							<img alt="Resume" src="img/resume.png">
							<span class="celeryBogGreen">Résumé</span>
						</a>
						<div class="clearfix"></div>
						<a class="button mackeyOrangeBorder" href="#" target="_blank">
							<img alt="High School" src="img/HS-icon.png">
							<span class="mackeyOrange">High School</span>
						</a>
						<a class="button yellowWalkBorder" href="#">
							<img alt="Minors" height="80" src="img/minors.png" width="142">
							<span class="yellowWalk">Minors</span>
						</a>
						<div class="clearfix"></div>
						<a class="button bellTowerBrickBorder" href="#">
							<img alt="Housing" src="img/housing.png">
							<span class="bellTowerBrick">Housing</span>
						</a>
						<a class="button rossAdeGreenBorder" href="#">
							<img alt="Financial Aid" src="img/financialaid.png">
							<span class="rossAdeGreen">Financial Aid</span>
						</a>
						<div class="clearfix"></div>
						<a class="button campusGoldBorder" href="#">
							<img alt="Events" src="img/events.png">
							<span class="campusGold">Events</span>
						</a>
						<a class="button springFestGreenBorder" href="#">
							<img alt="Summer Start" src="img/earlystart.png">
							<span class="springFestGreen">New Students</span>
						</a>
						<div class="clearfix"></div>
					</div>
					<div class="search">
						<form action="#" id="cse-search-box">
							<input name="cx" type="hidden" value="017690826183710227054:n0bu1db5gfs">
							<input name="cof" type="hidden" value="FORID:11">
							<input id="search-field" name="q" placeholder="Search" size="25" type="text">
							<input name="siteurl" type="hidden" value="#">
							<input name="ref" type="hidden" value="">
							<input name="ss" type="hidden" value="">
						</form>
					</div>
					<div class="footer">
						<div class="contact">
							<div class="contact__item">
								618-453-8804
							</div>
							<div class="contact__item">
								<a class="contact__link" href="#">thinksummer@siu.edu</a>
							</div>
						</div>
					</div>
					<div class="social">
				
						<a class="twitter" href="#" target="_blank"></a>
						<a class="facebook" href="#" target="_blank"></a>
						<a class="instagram" href="#" target="_blank"> </a>
						<a class="youtube" href="#" target="_blank"></a>
					</div>
					<div class="purdueName">
						<img alt="SIU University" src="img/siu-Sig-White-Gold-rgb.png">
					</div>
				</div> 
			<!--</div> 
			 course plane 

			<div class="col-4">-->

				<div class="content color">
					<h1>Courses</h1>
					<p class="p1">
						<span class="s1">Did you know that half of SIU students who graduate in four years or less have taken at least one summer course? They
							Think Summer!</span>
					</p>
					<p class="p1">
						<span class="s1">Please see the list of our 500+ Summer 2018 courses below and</span>
						<span class="s2">&nbsp;
							<a href="#" target="_blank">
								<span class="s3">register</span>
							</a>
						</span>
						<span class="s1"> early.</span>
					</p>
					<p class="p1">
						<span class="s1">Looking for one place to see all our online-only summer courses?</span>
						<span class="s2">&nbsp;
							<a href="#" target="_blank">
								<span class="s3">Check this out</span>
							</a>
						</span>
						<a href="#" target="_blank">
							<span class="s1">.</span>
						</a>
					</p>
					<div class="letter color">
						<a [routerLink]="['/courses', 'A']">A</a>
						<a [routerLink]="['/courses', 'B']">B</a>
						<a [routerLink]="['/courses', 'C']">C</a>
						<a [routerLink]="['/courses', 'D']">D</a>
						<a [routerLink]="['/courses', 'E']">E</a>
						<a [routerLink]="['/courses', 'F']">F</a>
						<a [routerLink]="['/courses', 'G']">G</a>
						<a [routerLink]="['/courses', 'H']">H</a>
						<a [routerLink]="['/courses', 'I']">I</a>
						<a [routerLink]="['/courses', 'J']">J</a>
						<a [routerLink]="['/courses', 'K']">K</a>
						<a [routerLink]="['/courses', 'L']">L</a>
						<a [routerLink]="['/courses', 'M']">M</a>
						<a [routerLink]="['/courses', 'N']">N</a>
						<a [routerLink]="['/courses', 'O']">O</a>
						<a [routerLink]="['/courses', 'P']">P</a>
						<a [routerLink]="['/courses', 'Q']">Q</a>
						<a [routerLink]="['/courses', 'R']">R</a>
						<a [routerLink]="['/courses', 'S']">S</a>
						<a [routerLink]="['/courses', 'T']">T</a>
						<a [routerLink]="['/courses', 'U']">U</a>
						<a [routerLink]="['/courses', 'V']">V</a>
						<a [routerLink]="['/courses', 'W']">W</a>
						<a [routerLink]="['/courses', 'X']">X</a>
						<a [routerLink]="['/courses', 'Y']">Y</a>
						<a [routerLink]="['/courses', 'Z']">Z</a>
					</div>

				</div> 
		<!--	</div>  row end-->
<!-- 		</div>

	</div> -->
	<style type="text/css">
		@media (max-width: 770px),
		screen and (max-device-width: 770px) {
		  .nav {
			display: none !important;
		  }
		}
	
		.bg {
		  background-image: url('img/background-Courses.jpg');
		}
	
		.color {
		  border-color: #2EAF9B;
		}
	
		.color h1,
		.color h2,
		.color h3,
		.color h4,
		.color h5,
		.color h6,
		.color a,
		.contact__link:link,
		.contact__link:visited,
		.contact__link:hover,
		.contact__link:active {
		  color: #2EAF9B;
		}
	
		.color.letter a:hover {
		  background-color: #2EAF9B;
		}
	
		#accordion .panel .panel-heading h4.panel-title a:hover {
		  background-color: #2EAF9B;
		}
	
		.panel-group .panel {
		  margin-top: 5px;
		}
	  </style>
	<style>
	/* Fonts */

@font-face {
    font-family: "archivoNarrow";
    src: url("../../../purdue/fonts/archivonarrow-regular-webfont.eot");
    src: url("../../../purdue/fonts/archivonarrow-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("../../../purdue/fonts/archivonarrow-regular-webfont.woff2") format("woff2"),
         url("../../../purdue/fonts/archivonarrow-regular-webfont.woff") format("woff"),
         url("../../../purdue/fonts/archivonarrow-regular-webfont.ttf") format("truetype"),
         url("../../../purdue/fonts/archivonarrow-regular-webfont.svg#archivoNarrow_regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "archivoNarrow";
    src: url("../../../purdue/fonts/archivonarrow-bold-webfont.eot");
    src: url("../../../purdue/fonts/archivonarrow-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("../../../purdue/fonts/archivonarrow-bold-webfont.woff2") format("woff"),
         url("../../../purdue/fonts/archivonarrow-bold-webfont.woff") format("woff"),
         url("../../../purdue/fonts/archivonarrow-bold-webfont.ttf") format("truetype"),
         url("../../../purdue/fonts/archivonarrow-bold-webfont.svg#archivoNarrow_bold") format("svg");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "archivoNarrow";
    src: url("../../../purdue/fonts/archivonarrow-italic-webfont.eot");
    src: url("../../../purdue/fonts/archivonarrow-italic-webfont.woff2") format("woff"),
         url("../../../purdue/fonts/archivonarrow-italic-webfont.woff") format("woff"),
         url("../../../purdue/fonts/archivonarrow-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../../../purdue/fonts/archivonarrow-italic-webfont.ttf") format("truetype"),
         url("../../../purdue/fonts/archivonarrow-italic-webfont.svg#archivoNarrow_italic") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "archivoNarrow";
    src: url("../../../purdue/fonts/archivonarrow-bolditalic-webfont.eot");
    src: url("../../../purdue/fonts/archivonarrow-bolditalic-webfont.woff2") format("woff"),
         url("../../../purdue/fonts/archivonarrow-bolditalic-webfont.woff") format("woff"),
         url("../../../purdue/fonts/archivonarrow-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../../../purdue/fonts/archivonarrow-bolditalic-webfont.ttf") format("truetype"),
         url("../../../purdue/fonts/archivonarrow-bolditalic-webfont.svg#archivoNarrow_boldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
}
/* Fonts End*/


html {
    background-color: #000000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
.bg {
	position: fixed;
	top: 0px;
	left: 0px;
	background-image: url('img/background-Courses.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    min-width:100%;
    width:100%;
    min-height:100%;
    height:100%;

}
.home {
	display: none;
}
.topbar {
	width: 100%;
	height: 30px;
	background: none;
	display: block;
}
.nav {
	width: 268px;
	height: 100%;
	min-height: 615px;
    overflow-y:auto;
	top: 0px;
	left: 20px;
	position: fixed;
	padding: 0 18px;
	background-color:#000000;
}
.thinksummerlogo {
	width: inherit;
	margin: 0px auto;
	float: left;
    padding-top:25px;
	padding-bottom:25px;
}
.thinksummerlogo a {
	display:block;
    border:none !important;
}
.thinksummerlogo a img {
	width: 200px;
	display: block;
    margin: 0px auto;
    border:none !important;
}
.buttons {
	width: inherit;
	margin: 0px auto;
	padding-bottom: 25px;
	float: left;
}
.buttons .clearfix{
    clear:both;
}
a.button {
	width: 90px;
	float: left;
	margin: 8px;
	padding: 0px;
	font-family: "archivoNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	text-decoration:none;
}
.button img {
	width: inherit;
    height: auto;
	border: 0px;
	display: block;
    margin: 0 auto;
	padding: 0px;
}
.button span {
	font-size:14px;
	font-weight:bold;
	display:block;
	padding: 5px;
}
.fountainRunTeal {
	background-color: #2EAF9B;
	color:#000000;
}
.fountainRunTealBorder {
	border: 1px solid #2EAF9B;
}
.celeryBogGreen {
	background-color: #C3BE0B;
	color:#000000;
}
.celeryBogGreenBorder {
	border: 1px solid #C3BE0B;
}
.mackeyOrange {
	background-color: #FF9B1A;
	color:#000000;
}
.mackeyOrangeBorder {
	border: 1px solid #FF9B1A;
}
.bellTowerBrick {
	background-color: #C76C14;
	color:#000000;
}
.bellTowerBrickBorder {
	border: 1px solid #C76C14;
}
.rossAdeGreen {
	background-color: #849E2A;
	color:#000000;
}
.rossAdeGreenBorder {
	border: 1px solid #849E2A;
}
.slayterSkyBlue {
	background-color: #7CA6C0;
	color:#000000;
}
.slayterSkyBlueBorder {
	border: 1px solid #7CA6C0;
}
.springFestGreen {
	background-color: #E9E45B;
	color:#000000;
}
.springFestGreenBorder {
	border: 1px solid #E9E45B;
}
.campusGold {
    background-color: #B1810B;
	color:#000000;
}
.campusGoldBorder {
	border: 1px solid #B1810B;
}
.yellowWalk {
	background-color: #FFD100;
	color:#000000;
}
.yellowWalkBorder {
	border: 1px solid #FFD100;
}
.pappysPurple {
	background-color: #AD1F65;
	color:#000000;
}
.pappysPurpleBorder {
	border: 1px solid #AD1F65;
}
.ameliaSkyBlue {
	background-color: #A3D6D7;
	color:#000000;
}
.ameliaSkyBlueBorder {
	border: 1px solid #A3D6D7;
}
.black {
	background-color: #000000;
	color:#FFD100;
}
.blackBorder {
	border: 1px solid #000000;
}
.white {
	background-color: #ffffff;
	color:#000000;
}
.whiteBorder {
	border: 1px solid #ffffff;
}
.contact{
    display:block;
    text-align:center;
}
.contact__item{
    margin-bottom:0.5em;
}
.contact__item+.contact__item{
    margin-bottom:0;
}
.contact__link:link,.contact__link:visited{
    text-decoration:underline;
}
.contact__link:hover,.contact__link:active{
    text-decoration:none;
}
/* Tooltip */
.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	visibility: visible;
	padding: 5px;
	font-size: 11px;
	opacity: 0;
	filter: alpha(opacity=0)
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100)
}
.tooltip.top {
	margin-top: -2px
}
.tooltip.right {
	margin-left: 2px
}
.tooltip.bottom {
	margin-top: 2px
}
.tooltip.left {
	margin-left: -2px
}
.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffd006
}
.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #ffd006
}
.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ffd006
}
.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #ffd006
}
.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #000;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #ffd006;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0
}
/* Tooltip End */

.search {
	width: inherit;
	margin: 0px auto;
	padding-bottom:25px;
	float: left;
}
.search form {
	margin: 0px auto;
	width: 200px;
	height: 30px;
	background-color: #404040;
}
.search form #search-field {
	background-color: transparent;
	outline: 0 none;
	border: 0 none;
	padding: 0;
	margin: 0px 5px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	width: 190px;
	height: inherit;
}
/* Search Page */
.gsc-adBlock {
	display: none !important;
}
.gs-result .gs-title, .gs-result .gs-title * {
	color: #fff !important;
}
.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
	color: #676767 !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	color: #fff !important;
}
.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
	border: none !important;
	background-color: transparent !important;
}
/* Search Page End */


.footer {
	width: inherit;
	padding-bottom: 20px;
	float:left;
}
.social {
    clear:both;
	width: inherit;
	text-align: center;
    padding-bottom: 20px;
    
}
.social .twitter, 
.social .facebook, 
.social .instagram,
.social .youtube
{
	width: 30px;
	height: 30px;
	margin: 0px 5px;
	padding: 0px;
	display: inline-block;
	background-size: cover;
}
.twitter {
	background-image: url('img/twitter.jpg');
}
.facebook {
	background-image: url('img/facebook.jpg');
}
.instagram {
    background-image: url('img/instagram.jpg');
}
.youtube{
    background-image: url('img/VideoButton.jpg');
}
.contact {
	background-image: url('img/contact.jpg');
}
.purdueName {
    width: inherit;
	text-align: center;
    padding-top:0px;
    padding-bottom:25px;
}


.content {
	color:#dff0d8;
    width: 380px;
    background-image: url(img/contentbg.png);
    position: relative;
    top: 130px;
    left: 286px;
    border-right: 10px solid #468847;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.content .thinksummerlogo {
    background-image:hidden;
    border:none;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	font-family: "archivoNarrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content h1 {
	font-size: 28px;
	margin: 0px 0px 20px 0px;
}
.content h2 {
	font-size: 24px;
	margin: 18px 0px;
}
.content h3 {
	font-size: 20px;
	margin: 18px 0px;
}
.content h4 {
	font-size: 18px;
	margin: 18px 0px;
}
.content h5 {
	font-size: 16px;
	margin: 18px 0px;
}
.content h6 {
	font-size: 14px;
	margin: 18px 0px;
}
.content p, .content li, .content table {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 10px;
    
    
}
.content ul, .content ol {
	padding-left: 20px;
}
.content a:hover {
	text-decoration: none;
}

.content.color h1, .content.color h2, .content.color h3, .content.color h4, .content.color h5, .content.color h6, .content.color a {
	background-color: transparent;
}
.content .large {
	font-size:2em;
}
.right {
	float:right;
}
.left {
	float:left;
}
.letter {
	margin: 0px;
	padding: 0px;
}
.letter a {
	width: 10px;
	height: 10px;
	text-decoration: none;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid;
	display: inline-block;
	margin: 10px 8px 0px 0px;
	line-height: 13px;
}
.letter a:hover {
	color: #000;
	border-color: inherit;
}
.letter a.notactive {
	color: #404040;
	border-color: #404040;
	background-color: transparent !important;
}
/* Accordion */
.panel {
	margin-bottom: 20px;
	border: 0px;
}
.panel-body {
	padding: 15px;
}
.panel-body:before, .panel-body:after {
	display: table;
	content: " ";
}
.panel-body:after {
	clear: both;
}
.panel-body:before, .panel-body:after {
	display: table;
	content: " ";
}
.panel-body:after {
	clear: both;
}
.panel-body h5 {
	margin: 0px;
	font-weight: normal;
}
.panel-body ul {
	margin-top: 5px;
}
.panel-body ul li {
	margin-bottom: 0px;
}
.panel > .list-group {
	margin-bottom: 0;
}
.panel > .list-group .list-group-item {
	border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
	border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
	border-top-width: 0;
}
.panel > .table {
	margin-bottom: 0;
}
.panel > .panel-body + .table {
	border-top: 1px solid #dddddd;
}
.panel-heading {
	padding: 0px;
	border-bottom: 1px solid transparent;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}
.panel-title {
	margin: 0px !important;
	font-size: 16px;
}
.panel-title > a {
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	font-weight: normal;
	cursor: pointer;
}
#accordion .panel .panel-heading {
	background-color: transparent;
}
#accordion .panel .panel-heading h4.panel-title a {
	background-color: transparent;
	border: 1px solid;
}
#accordion .panel .panel-heading h4.panel-title a:hover {
	background-color: #a3792c;
	color: #000;
	border-color: inherit;
}
.panel-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #dddddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.panel-group .panel {
	margin-bottom: 0;
	overflow: hidden;
	border-radius: 0px;
}
.panel-group .panel + .panel {
	margin-top: 5px;
}
.panel-group .panel-heading {
	border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: 0px;
}
.panel-group .panel-footer {
	border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
	border-bottom: 1px solid #dddddd;
}
.panel-default {
	border-color: #dddddd;
}
.panel-default > .panel-heading {
	background-color: #404040;
	border-color: #404040;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #dddddd;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #dddddd;
}
.panel-primary {
	border-color: #428bca;
}
.panel-primary > .panel-heading {
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #428bca;
}
.panel-success {
	border-color: #d6e9c6;
}
.panel-success > .panel-heading {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #d6e9c6;
}
.panel-warning {
	border-color: #fbeed5;
}
.panel-warning > .panel-heading {
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #fbeed5;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #fbeed5;
}
.panel-danger {
	border-color: #eed3d7;
}
.panel-danger > .panel-heading {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #eed3d7;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #eed3d7;
}
.panel-info {
	border-color: #bce8f1;
}
.panel-info > .panel-heading {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
	border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: #bce8f1;
}
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.35s ease;
	transition: height 0.35s ease;
}
/*
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot');
	src: url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
*/
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;

}
.accordion-toggle.collapsed .arrow:before {
	content: "\e079";
}
.accordion-toggle .arrow:before {
	content: "\e114";
}
.carousel-control .glyphicon-chevron-left {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
}


 .table-courses th { vertical-align:top;
padding-top:10px;
    padding-bottom:10px;
    text-align:left;
    }
.table-courses td{
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.table-courses thead th{
    text-align:left;
    color:#2EAF9B;
    font-size:18px;
}
.table-courses #title {
    padding-left:10px;
}
.table-courses caption {
    text-align:left;
    padding-bottom:10px;
}
/* Accordion End */

@media (max-width: 770px), screen and (max-device-width: 770px) {
	html, .bg {
		background-image: none !important;
		background: #000;
	}
	.nav {
		width: 316px;
		position: relative;
		top: auto;
		left: auto;
		margin: 0 auto;
		background-image: none;
	}
	a.button {
		width:140px;
	}
	.button span {
		font-size:20px;
	}
	.search form {
		width:300px;
		height:40px;
	}
	.search form #search-field {
		font-size:18px;
		width: 290px;
	}
	.content {
		
        width: auto !important;
    	margin: 0px;
		padding: 30px 30px 30px 70px;
		background: none;
		left: auto;
		border-right: 0px;
		border-top: 30px solid #2EAF9B;
		top: 0px;
    
}
	
	.content p, .content li, .content table {
		font-size: 16px;
		line-height: 20px;
	}
	.content h1{
		font-weight: bold;
	}
	.letter a {
		width:18px;
		height:14px;
		font-size:20px;
		margin: 20px 16px 0px 0px;
	}
	.footer {
		position: relative;
		margin: 0px auto;
		padding-top: 5px;
	}
	.social .twitter, .social .facebook, .social .instagram, .social .youtube {
		width: 42px;
		height: 42px;
		margin: 0px 15px;
	}
	.navmenu {
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		top: 60px;
		left: 20px;
		z-index: 1000;
	}
	.navmenu a {
		background-image: url('img/nav.png');
		width: 30px;
		height: 30px;
		display: block;
		background-size: 30px;
	}
	.homemenu {
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		top: 115px;
		left: 20px;
		z-index: 1000;
	}
	.homemenu a {
		background-image: url('img/home.png');
		width: 30px;
		height: 30px;
		display: block;
		background-size: 30px;
	}
}

	</style>
	